[project]
	description = "Native C# client for Kafka queue servers."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/aNutForAJarOfTuna
[access "refs/for/refs/*"]
	read = group user/aNutForAJarOfTuna
	push = group user/aNutForAJarOfTuna
	label-Code-Review = -2..+2 group user/aNutForAJarOfTuna
	label-Verified = -1..+1 group user/aNutForAJarOfTuna
	rebase = group user/aNutForAJarOfTuna
	removeReviewer = group user/aNutForAJarOfTuna
	submit = group user/aNutForAJarOfTuna
[access "refs/heads/*"]
	read = group user/aNutForAJarOfTuna
	create = group user/aNutForAJarOfTuna
	push = +force group user/aNutForAJarOfTuna
	pushMerge = group user/aNutForAJarOfTuna
[access "refs/tags/*"]
	push = +force group user/aNutForAJarOfTuna
	pushTag = group user/aNutForAJarOfTuna
	pushSignedTag = group user/aNutForAJarOfTuna
